<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Mi amigo secreto - Clandy</title>

</head>

<body>

    <h1>🎉 ¡Llegó el momento!</h1>

    <h2>
        Tu amigo secreto es:
    </h2>

    <h1>
        {{ asignado[0] }}
    </h1>

    <h2>🎁 Sus preferencias</h2>

    <p>
        <strong>Gustos:</strong>
        {{ asignado[1] }}
    </p>

    <p>
        <strong>Disgustos:</strong>
        {{ asignado[2] }}
    </p>

    <p>
        <strong>Hobbies:</strong>
        {{ asignado[3] }}
    </p>

    <p>
        <strong>Colores:</strong>
        {{ asignado[4] }}
    </p>

    <p>
        <strong>Tallas:</strong>
        {{ asignado[5] }}
    </p>

    <p>
        <strong>Deseos:</strong>
        {{ asignado[6] }}
    </p>

    <br>

    <a href="/mi-espacio/{{ participante[4] }}">
        Volver a mi espacio
    </a>

</body>

</html>